body {
	background-image: url("../img/bg.jpg");
	z-index: -1;
}

.container {
	width: 100%;
	position: relative;
}

#face {
	margin: 0 auto;
	display: block;
}

#about {
	margin-top: 250px;
	border: black solid 2px;
	background-color: white;
	width: 20%;
	height: 60%;
	position: absolute;
	left: 40%;
}