html,
body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

html,
body,
.container {
  height: 100%;
  margin: 0;
}

.container {
  margin: auto 2em;
  text-align: center;
}

.bgImage {
  position: fixed;
  top: 0; 
  left: 0;
  right: 0; 
  bottom: 0;
  z-index: 0;
  background: url(../img/bg.jpg) no-repeat center fixed; 
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

ul {
  list-style: circle inside; 
  font-weight: 300;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

.hr-text {
  font-size: 1.5rem;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}
.hr-text:before {
  content: '';
  background: -webkit-linear-gradient(left, transparent, #818078, transparent);
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}

/* #title span { */
/*   background: -webkit-linear-gradient(white, #38495a); */
/*   -webkit-background-clip: text; */
/*   -webkit-text-fill-color: transparent; */
/* } */

/* Links */

.links {
  font-size: 2.0rem;
}

a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  position:relative;
  transition:0.5s color ease;
  text-decoration:none;
  color:#FFF;
  font-size:1.5em;
}
a:hover{
  color:#81b3d2;
}
a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.15em;
}
a.after:after{
  bottom:-0.15em;
}
a.before:before,a.after:after{
  height:5px;
  height:0.15rem;
  width:0;
  background:#81b3d2;
}

a.before:hover:before,a.after:hover:after{
  width:100%;
}
.square{
  box-sizing:border-box;
  margin-left:-0.15em;
  position:relative;
  overflow:hidden;
}
.square a{
  position:static;
  font-size:100%;
  padding:0.2em 0.5em;
}
.square:before,.square:after{
  content: "";
  box-sizing:border-box;
  transition:0.25s all ease;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  position:absolute;
  width:5px;
  width:0.15rem;
  height:0;
  background:#81b3d2;
}
.square:before{
  left:0;
  bottom:-0.15em;
}
.square:after{
  right:0;
  top:-0.15em;
}
.square a:before{
  left:0;
  transition:0.25s all ease;
}
.square a:after{
  right:0;
  transition:0.25s all ease;
}
.square:hover:before,.square:hover:after{
  height:calc(100% + 0.3em);
}
.square:hover a:before,.square:hover a:after{
  width:100%;
}
